<!DOCTYPE gui SYSTEM "kpartgui.dtd">
<!--
  SPDX-License-Identifier: CC0-1.0
  SPDX-FileCopyrightText: 2025 Laurent Montel <montel@kde.org>
-->
<gui name="kaichat" version="6">
 <MenuBar>
  <Menu name="file" >
   <Action name="export_menu" />
   <Separator/>
  </Menu>
  <Menu name="settings" append="settings_merge">
    <text>&amp;Settings</text>
    <Action name="colorscheme_menu" />
  </Menu>
  <Menu name="view" >
   <text>View</text>
   <Action name="show_archive" />
  </Menu>
  <Menu name="Tools" >
   <text>Tools</text>
   <Action name="show_quick_ask" />
  </Menu>
  <Menu name="help">
   <text>&amp;Help</text>
   <Action name="whatsnew_kaichat" />
   <Separator/>
   <Action name="verify_check_version" />
   <Separator/>
  </Menu>
 </MenuBar>
 <ToolBar noMerge="1" name="mainToolBar" fullWidth="true" ><text>Main Toolbar</text>
  <Spacer/>
  <Action name="hamburger_menu"/>
 </ToolBar>
</gui>
