[Desktop Entry]
Name=KAIChat
Name[ca]=KAIChat
Name[ca@valencia]=KAIChat
Name[de]=KAIChat
Name[es]=KAIChat
Name[eu]=KAIChat
Name[fi]=KAIChat
Name[fr]=KAIChat
Name[gl]=KAIChat
Name[he]=KAIChat
Name[hu]=KAIChat
Name[it]=KAIChat
Name[ka]=KAIChat
Name[ko]=KAIChat
Name[nl]=KAIChat
Name[pt_BR]=KAIChat
Name[sl]=KAIChat
Name[sv]=KAIChat
Name[tr]=KAIChat
Name[uk]=KAIChat
Name[zh_CN]=KAIChat
Name[zh_TW]=KAIChat
Type=Application
Exec=kaichat -qwindowtitle %c %u
Icon=kaichat
GenericName=AI Chat
GenericName[ca]=Xat d'IA
GenericName[ca@valencia]=Xat d'IA
GenericName[de]=KI-Chat
GenericName[es]=Chat con IA
GenericName[eu]=AA berriketa
GenericName[fi]=Tekoälykeskustelu
GenericName[fr]=IA conversationnelle
GenericName[gl]=Conversa con IA
GenericName[he]=שיחה עם בינה מלאכותית
GenericName[hu]=AI csevegő
GenericName[it]=Chat IA
GenericName[ka]=ხი-სთან ჩატი
GenericName[ko]=AI 채팅
GenericName[nl]=AI-chat
GenericName[pt_BR]=Chat de IA
GenericName[sl]=Klepet z umetno inteligenco
GenericName[sv]=AI-chatt
GenericName[tr]=Yapay Zekâ Sohbeti
GenericName[uk]=Спілкування з ШІ
GenericName[zh_CN]=AI 对话
GenericName[zh_TW]=AI 聊天
StartupNotify=true
Categories=Qt;KDE;Network;
SingleMainWindow=true
Version=1.5
