[Desktop Entry]
Name=KAIChat
Name[ca]=KAIChat
Name[ca@valencia]=KAIChat
Name[es]=KAIChat
Name[eu]=KAIChat
Name[gl]=KAIChat
Name[he]=KAIChat
Name[ka]=KAIChat
Name[nl]=KAIChat
Name[sl]=KAIChat
Name[tr]=KAIChat
Name[uk]=KAIChat
Name[x-test]=xxKAIChatxx
Name[zh_TW]=KAIChat
Type=Application
Exec=kaichat -qwindowtitle %c %u
Icon=kaichat
GenericName=AI Chat
GenericName[ca]=Xat d'IA
GenericName[ca@valencia]=Xat d'IA
GenericName[es]=Chat con IA
GenericName[eu]=AA berriketa
GenericName[gl]=Conversa con IA
GenericName[he]=שיחה עם בינה מלאכותית
GenericName[ka]=ხი-სთან ჩატი
GenericName[nl]=AI-chat
GenericName[sl]=Klepet z umetno inteligenco
GenericName[tr]=Yapay Zekâ Sohbeti
GenericName[uk]=Спілкування з ШІ
GenericName[x-test]=xxAI Chatxx
GenericName[zh_TW]=AI 聊天
StartupNotify=true
Categories=Qt;KDE;Network;InstantMessaging;
SingleMainWindow=true
Version=1.5
